{% load static %}
<!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img src="{% static 'imagen/logo.png' %}" alt="AdminLTE Logo"
                 class="brand-image"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Hades</span>
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link"><i class="las la-home"></i> Home</a>
                </li>
                <!--menu de mantenimiento-->
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Mantenimientos</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="#" class="dropdown-item"><i class="fas fa-truck-loading"></i> Actividades</a></li>
                        <li><a href="{% url 'movil:Cargolist' %}" class="dropdown-item"><i class="fas fa-boxes"></i> Cargos</a></li>
                        <li><a href="{% url 'movil:CategoriaList' %}" class="dropdown-item"><i class="fas fa-users"></i> Categorias</a></li>
                        <li><a href="{% url 'movil:Lista_Equipo' %}" class="dropdown-item"><i class="fas fa-users"></i> Equipos</a></li>
                        <li><a href="{% url 'movil:CategoriaListEq' %}" class="dropdown-item"><i class="fas fa-shopping-cart"></i> Categoria equipos</a></li>
                        <li><a href="#" class="dropdown-item"><i class="fas fa-shopping-cart"></i> Conjuntos componentes</a></li>
                        <li><a href="{% url 'movil:ListaEmpleado' %}" class="dropdown-item"><i class="fas fa-shopping-cart"></i> Empleados</a></li>
                        <li><a href="#" class="dropdown-item"><i class="fas fa-shopping-cart"></i> Horarios</a></li>
                        <li><a href="{% url 'movil:OrdenList' %}" class="dropdown-item"><i class="fas fa-shopping-cart"></i> Orden de trabajo</a></li>



                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Utilitarios</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'movil:UsuarioList' %}" class="dropdown-item"><i class="fas fa-truck-loading"></i> Usuarios</a></li>
                    </ul>
                </li>
                <!--termina menu-->
            </ul>
            
        </div>
        <!--navbar-->

        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="las la-bell"></i>
                    
                    {{ request.user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-header" style="font-size: 12px;">Nombre y apellido</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="las la-envelope mr-2"></i> perfil
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="las la-users mr-2"></i> Opciones
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'logout' %}" class="dropdown-item">
                        <i class="las la-power-off"></i> Cerrar Sesion
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="las la-power-off" aria-hidden="true"></i>
                    Cerrar sesión
                </a>
            </li>
        </ul>
        <!-- fin navbar-->
    </div>
  </nav>
  <!-- /.navbar -->