<!-- Main Footer -->
<footer class="main-footer align-items-center">

  <div class="container">
    <div class="wrap">
      <div class="widget">

        <!--fecha-->
          <p id="diaSemana" class="diaSemana"></p>
          <p id="dia" class="dia"></p>
          <p> de </p>
          <p id="mes" class="mes"></p>
          <p> del </p>
          <p id="year" class="year"></p>
    
        <!--horas-->
          <p id="horas" class="horas"></p>
          <p>:</p>
          <p id="minutos" class="minutos"></p>
          <p>:</p>
          <p id="segundos" class="segundos"></p>
          <p id="ampm" class="ampm"></p>  
          
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        
      </div>
      <div class="col-md-6 text-right">
        
      </div>
    </div>
  </div>
    
</footer>
  