{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
{% endblock %}
{% block content %}
    <form method="post" action="." enctype="multipart/form-data">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-plus"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Categorias:</label>
                    {{ form.categorias }}
                </div>
                <div class="form-group">
                    <label>Equipos:</label>
                    {{ form.equipos }}
                </div>
                <div class="form-group">
                    <label>Buscador:</label>
                    {{ form.buscar }}
                </div>
            </div>
        </div>
    </form>
    <script type="application/javascript">
    $(function(){
        $('select[name="categorias"]').on('change', function(){
            var id = $(this).val();
            var select_prod = $('select[name="equipos"]');
            var opciones = '<option value="">--------------------</option>';
            if (id === '') {
                select_prod.html(opciones);
                return false;
            }
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'buscar_equipo_id',
                    'id': id
                },
                dataType: 'json'
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                    $.each(data, function (key, value) {
                        opciones += '<option value="' + value.id + '">' + value.Cod_equipo + '</option>';
                    });
                    return false;
                }
                    message_error(data.error);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                    select_prod.html(opciones);
                });


        });

        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];

        var horas = {
            items : {
                empleado: '',
                fecha: '',
                totalHoras: 0.00,
                activitys:[]
            },
            add: function(){
            }
        };

        $('input[name="busca"]').autocomplete({
           source: function(request, response){
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'autocomplete',
                        'term': request.term
                    },
                    dataType: 'json'
                }).done(function (data) {
                    response(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    //alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
           },
           delay: 500,
           minLength: 1,
           select: function(event, ui){
            console.log(horas.items);
           }
        });

    });
    </script>
{% endblock %}