{% extends 'lista.html' %}

{% load static %}
{% block head_list %}
    <script src="{% static 'lib/plugins/moment/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/plugins/tempus/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/plugins/tempus/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'lib/plugins/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/plugins/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
{% endblock %}

{% block content %}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            {{ titulo }}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Detalle de actividades</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group">
                            <label>Buscador de equipos</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="ingrese la descripción de equipo "
                                       autocomplete="off">
                                <span class="input-group-append">
                      <button type="button" class="btn btn-info btn-flat">Go!</button>
                    </span>
                            </div>
                        </div>
                        <hr>
                        <table class="table table-striped table-bordered table-hover" id="data">
                            <thead>
                            <tr>
                                <th>Eliminar</th>
                                <th>Orden</th>
                                <th>Operación</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Datos de parte de horas</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <div class="form-group">
                        <label>Empleado:</label>
                        {{form.Empleado}}
                    </div>
                    <div class="form-group">
                        <label>Fecha:</label>
                        {{form.fecha}}
                    </div>
                    <div class="form-group">
                        <label>Total:</label>
                        {{form.TotalHoras}}
                    </div>

                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-flat " id="btnText">
            <i class="fas fa-plus"></i> Nuevo registro
        </a>
        <a href="" class="btn btn-succes">
            <i class="fas fa-plus"></i> Cancelar
        </a>
    </div>
    <!-- /.card -->
</div>
{% endblock %}